﻿<!DOCTYPE html>
<html ng-app="myApp">
    <head>
        
        <title>Exam</title>
        <link href="Vendor/Bootstrap/bootstrap-glyphicons.css" rel="stylesheet" />
        <link href="Vendor/Bootstrap/bootstrap.min.css" rel="stylesheet" />
        <link href="App/Styles/myStyle.css" rel="stylesheet" />
    </head>
x
<body ng-controller="indexController">

    <div class="container">
        <div class=" col-md-4 col-md-offset-4">
            <div class="col-md-12 no-padding">
                <div ng-click ="toggleDropDown()" class="input-group">
                    <textarea ng-model="txt" rows="2" class="my-textarea col-md-12 form-control"></textarea>
                    <span class="input-group-addon glyphicon glyphicon-chevron-down"></span>
                </div>
                <ul ng-show="showDropDown" class="bordered list-unstyled my-list col-md-12">
                    <li ng-click="setText(option.Text)" ng-repeat="option in options">
                        <div class="wrap-text cursor-default">
                            {{option.Text}}
                        </div>
                        <div class="divider"></div>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <script src="Vendor/jQuery/jquery-2.1.1.min.js"></script>
    <script src="Vendor/Bootstrap/bootstrap.min.js"></script>
    <script src="Vendor/Angular/angular.min.js"></script>
    <script src="Vendor/Angular/angular-resource.min.js"></script>
    <script src="App/app.js"></script>
    <script src="App/Services/getData.js"></script>
    <script src="App/Controllers/indexController.js"></script>
</body>
</html>
