﻿.my-list {
    max-height: 300px;
    overflow-y: scroll;
}

.my-list >li:hover {
    background-color: whitesmoke;
}

.wrap-text {
    word-break: break-all;
}

.cursor-default {
    cursor: default;
}

.no-padding {
    padding: 0;
}

.my-textarea {
    border-right: none;
}

textarea {
    resize: none;
}

.bordered {
    box-shadow: 1px 1px 1px 1px silver;
}

li {
    padding-top: 5px;
    padding-bottom: 5px;
}